*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
    outline: none;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
    /* background: linear-gradient(180deg, #cfd9df, #e2ebf0); */
    background:url("Images/bodyBG.png");
    background-size: cover;
}
 

.container{
    width: 400px;
    height: min-content; /*the minimum content it requires */
    background: linear-gradient(135deg, rgb(0,191,214), rgb(202, 165, 165));
    padding:20px 25px;
    border-radius: 20px;
}


/* Header */


.search-box{
    height: min-content;
    width: 100%;
    display: flex;    /* we cant use justify content here without flexbox*/
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.search-box input{
    width: 100%;
    font-size: 17px;
    text-transform: capitalize;
    color: rgb(37, 41, 40);
    background-color: #e6f5fb;
    padding:18px 25px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    outline: none;

}

.search-box input::placeholder{ /* this is how we can target placeholder in css */
    color: rgb(37, 41, 40);
}

.search-box button{
    height: 50px;
    width:50px;
    font-size: 20px;
    border-radius: 50%;
    /* background-color: #e6f5fb; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #2C91A8;
    background: none;
    position: absolute;
    right: 15px; /* keeps it inside input */
   
}

.search-box button:hover{  /*Pseudo class */
    color: #0b3c61;
    background:rgb(216, 204, 204);
}

.weather-body img {
    width: 60%;
}


/* Inner-Body */


.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block:20px;
    display:none;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: #15303a;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description {
    font-size: 28px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing:10px;
    margin-top: 5px;
    text-transform: capitalize;
    color:#0b3c61;
}


.weather-details{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity , .wind{  /*designing both the divs all together*/
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text {
    margin-left: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;  /* stack vertically */
    align-items: center;     /* center under icon (optional) */
}

.text span{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;  /* vertical gap */
    color: rgb(18, 107, 232);
}

.text p {
    font-weight: 600;
}

.humidity i{
    /* color:rgb(0, 191, 214) */
    color: rgb(39, 75, 191);  /* #00bfd6 */


}

.wind i{
    color: rgb(92, 96, 99);
}

.wind #wind-speed {
    color: rgb(79, 67, 57);
}

.humidity-text{
    color: #15303a;
}

.text .wind-text{
    color: #15303a;
}

.text #wind-speed{
    color:#15303a;
}

.humidity i:hover{
    color:blue;
    cursor: pointer;
}

.wind i:hover{
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.location-not-found{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; 
}

.location-not-found img {
    width:60%;
    margin-top: 20px;
    margin-block-end: 15px;
}

.location-not-found h1{
    color:#15303a;
    font-size: 25px;
}

/* Responsiveness  */

.weather-app {
  max-width: 400px;     /* prevents card from being too wide on big screens */
  width: 90%;           /* makes it shrink on small screens */
  margin: 40px auto;    /* centers card */
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.owner{
    background-color: #0b3c61;
    position:absolute;
    bottom:5px;
    right:10px;
    background: none;
}

.owner p{
    font-size: 10px;
    font-weight: 800;
    color:rgb(144, 100, 121);
    font-family: 'Times New Roman', Times, serif; 
}



